{% extends 'templates/app.twig' %}
{% block title %} Admin Page - MIT Book Store {% endblock %}

{% block nav %}
	{% include 'templates/partials/navadmin.twig' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
    	<section class="content-header">
    		<h1>
				Arsip Book
		    </h1>
		    <ol class="breadcrumb">
		        <li><a href="{{ path_for('book.index')}}"><i class="fa fa-book"></i>Book</a></li>
		    </ol>
			{% include 'templates/partials/flash.twig' %}
    	</section>
			<section class="content">
				<div class="box">
            <div class="box-header">
              <h3 class="box-title">
				<a href="{{path_for('book.index')}}" class="btn btn-info"> To Data</a>
			  </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Publisher</th>
						<th>ISBN</th>
						<th>Title</th>
						<th>Desc</th>
						<th>Publish Year</th>
						<th>Total Page</th>
						<th>Synopsis</th>
						<th>Images</th>
						<th>Price</th>
						<th>Stock</th>
						<th>Hapus<br>Permanent</th>
						<th>Restore</th>
					</tr>
                </thead>
                <tbody>
					{% for table in table %}
	                <tr>
						<td>{{table.name_publisher}}</td>
						<td>{{table.isbn}}</td>
						<td>{{table.title}}</td>
						<td>{{table.description}}</td>
						<td>{{table.publish_year}}</td>
						<td>{{table.total_page}}</td>
						<td>{{table.synopsis}}</td>
						<td>
						<center>
							<img src="{{base_url()}}/assets/images/{{table.images}}" alt="" class="img img-responsive">
						</center>
						</td>
						<td>{{table.price}}</td>
						<td>{{table.stock}}</td>
						<td>
							<form class="" action="{{ path_for('book.delete')}}" method="post">
								<button name="id" value="{{table.id}}" class="btn btn-danger" title="Delete Permanent">
									<i class="fa fa-trash-o"></i>
								</button>
							</form>
						</td>
						<td>
							<form class="" action="{{ path_for('book.restore')}}" method="post">
								<button name="id" value="{{table.id}}" class="btn btn-warning" title="Restore">
									<i class="fa fa-history"></i>
								</button>
							</form>
						</td>
	                </tr>
					{% endfor %}
				</tbody>
				</table>
            </div>
		</div>
            <!-- /.box-body -->
          </div>
			</section>
    </div>
{% endblock %}
