<header class="main-header">
    <a href="{{ path_for('home')}}" class="logo">
        <span class="logo-mini"><b>MBS</b></span>
        <span class="logo-lg"><b>MIT</b> Book Store</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if user %}
                <li class="dropdown messages-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="label label-success">4</span>
                    </a>
                    {% set no = 1 %}
                    <ul class="dropdown-menu">
                        {% if no == 1%}
                        <li class="header">You have 4 cart(s)</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <div class="pull-left">
                                        <img src="http://slaintemagazine.ie/wp-content/uploads/2015/02/Born-to-be-Beautiful-book-cover-186x300.jpg" class="img-circle" alt="User Image" style="width:100px;height:100px">
                                    </div>
                                    <h4>
                                        Born To Be Beautiful<br/>
                                        <small>5 qty</small>
                                    </h4>
                                    <p><b>300.000 IDR</b></p>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="{{path_for('cart.index')}}">See All Carts</a></li>
                        {% else %}
                        <li class="header">Your Cart is Empty</li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">{{user.username}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-footer">
                                <a href="{{path_for('user.account')}}" class="btn btn-default btn-flat">My Account</a>
                        </li>
                        <li class="user-footer">
                                <a href="{{path_for('user.logout')}}" class="btn btn-default btn-flat">Sign out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();" title="Login"><i class="fa fa-lock"></i></a>
                </li>
                <li>
                    <a data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();" title="Register"><i class="fa fa-user-plus"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">
                <form action="#" method="POST" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" placeholder="Search Book..." name="search">
                        <span class="input-group-btn">
                            <button id="search-btn" class="btn btn-flat">
                                <i class="fa fa-book"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tasks"></i><span>Category</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>