{% extends 'front-end/app.twig' %}

{% block nav %}
    {% include 'front-end/partials/navuser.twig' %}
{% endblock %}

{% block title %} Reset Password - MIT Book Store {% endblock %}

{% block content %}
    <div class="content-wrapper">
    	<section class="content-header">
    		<h1>Reset Password</h1>
    		<ol class="breadcrumb">
        		<li><a href="{{path_for('home')}}"><i class="fa fa-home"></i>Home Page</a></li>
        		<li class="active">Reset Password</li>
      		</ol>
    	</section>
    	<section class="content">
    		{% include 'templates/partials/flash.twig'%}
    		<div class="row">
    			<div class="col-xs-12">
    				<div class="box box-primary">
    					<form action="{{path_for('user.reset_password')}}" method="POST">
    						<div class="box-body">
    							<div class="pull-left col-md-5">
    								<div class="form-group {{ errors.username ? 'has-error' : ''}}">
										<label for="username">Username</label>
										<input type="text" name="username" id="username" class="form-control" value="{{ old.username }}">
										{% if errors.username %}
											<span class="help-block">{{errors.username | first}}</span>
										{% endif %}
									</div>
									<div class="form-group {{ errors.email ? 'has-error' : ''}}">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" class="form-control" value="{{ old.email }}">
										{% if errors.email %}
											<span class="help-block">{{errors.email | first}}</span>
										{% endif %}
									</div>
    							</div>
    						</div>
    						<div class="box-footer">
								<div class="pull-right">
									<button class="btn btn-success">Reset Password</button>
								</div>
							</div>
                            {{csrf.field | raw }}
    					</form>
    				</div>
    			</div>
    		</div>

    	</section>
    </div>
{% endblock %}