<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %} {% endblock %}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- <link rel="stylesheet" href="{#{{base_url()}}#}/assets/adminlte/bootstrap/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{{base_url()}}/assets/adminlte/plugins/datatables/dataTables.bootstrap.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/alt/AdminLTE-select2.min.css">
		<link rel="stylesheet" href="{{base_url()}}/assets/adminlte/plugins/select2/select2.min.css">
		<link rel="stylesheet" href="{#{{base_url()}}#}/assets/adminlte/dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/_all-skins.min.css">
		<!-- <link rel="stylesheet" href="{#{{base_url()}}#}/assets/adminlte/dist/css/skins/skin-blue.min.css"> -->
		{#for additional style in assets#}
		{% block style %}{% endblock %}
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		{% block nav %} {% endblock %}
		<!-- <div class="wrapper"> -->
			{% block content %}{% endblock %}
		<!-- </div> -->
	</body>
</html>
<script src="{{base_url()}}/assets/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- <script src="{#{{base_url()}}#}/assets/adminlte/bootstrap/js/bootstrap.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<!-- <script src="{#{{base_url()}}#}/assets/adminlte/dist/js/app.min.js"></script> -->
<script src="{{base_url()}}/assets/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{base_url()}}/assets/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="{{base_url()}}/assets/adminlte/plugins/selectize/selectize.min.js"></script>
<script src="{{base_url()}}/assets/adminlte/plugins/select2/select2.full.min.js"></script>
<script>
$(document).ready(function() {
$('#example').DataTable();
} );
</script>
<script>
$(function() {
	    //Initialize Select2 Elements
	$(".select2").select2();
});
</script>

{#for additional js in assets#}
{% block js %}{% endblock %}

{#for additional js in the file#}
{% block script %} {% endblock %}
